# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env
OPENAI_API_KEY=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

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
